<%- include('../partials/head') %>
<body>
    <%- include('../partials/headeraccount') %>
    <main>
        <h1><%= username %></h1>
        <%- include('../partials/accountmenu') %>
        <div class="account-list-container">
            <% accountsData.forEach(account => { %>
                <div class="account-container">
                    <span><%= account.name %></span>
                    <span><%= account.number %></span>
                    <span><%= account.balance %></span>
                </div>

            <% }) %>

        </div>
    </main>
    
    <script type="module" src="/js/pages/main.js"></script>
    <script type="module" src="/js/pages/accountpage.js"></script>
</body>
</html>